a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #9d53c3;
}

body {
  font-family: "Cutive Mono", monospace;
  font-size: 14px;
}

form {
  text-align: left;
}

img {
  width: 20px;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
}

.card-body {
  padding: 0;
}

.celsius-fahrenheit {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.celsius-fahrenheit .active {
  color: #9d53c3;
  cursor: default;
  font-size: 24px;
}

.conditions {
  position: relative;
  right: -50px;
  top: -145px;
}

.credits {
  background: transparent;
  border: none;
  font-size: 10px;
  left: -38px;
  position: relative;
  top: 75px;
}

.container {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(148, 241, 246) 0%,
    rgb(148, 189, 246) 100.7%
  );
  border: 1px black solid;
  border-radius: 10px;
  max-width: 600px;
  margin-bottom: 40px;
  margin-top: 15px;
  padding: 40px;
  height: fit-content;
}

.current-location {
  font-family: "Hubballi", cursive;
  font-size: 40px;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.current-temperature {
  font-family: "Hubballi", cursive;
  font-size: 100px;
  position: relative;
  text-align: center;
  top: -15px;
}

.forecast-icon {
  width: 40px;
}

.location-icon {
  font-size: 20px;
}

.location-icon:hover {
  color: #9d53c3;
  cursor: pointer;
}

.main-icon {
  width: 120px;
  position: relative;
  right: 70px;
  top: -50px;
}

.search-button {
  background: linear-gradient(
    109.6deg,
    rgb(61, 237, 253) 44.2%,
    rgb(3, 136, 238) 95.6%
  );
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  padding: 5px;
}

.search-button:hover {
  background: linear-gradient(
    33.2deg,
    rgb(157, 147, 247) 30.2%,
    rgb(117, 176, 247) 61.4%
  );
  transition: all 1s ease-in-out;
}

.search-field {
  background: transparent;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px;
}

.search-field:hover {
  background: white;
}

.today {
  font-size: 14px;
  padding: 0px;
  position: relative;
  text-align: center;
  top: 20px;
}

.weekly-forecast {
  font-size: 16px;
  text-align: center;
}
